//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.top {
    // top page ナビゲーション
    &__gnav {
        display: none;

        @media screen and (min-width: 768px) {
            position: absolute;
            top: 54px;
            right: 122px;
            display: block;
            z-index: 3;
        }

        @media screen and (min-width: 1024px) {
            right: 200px;
        }
    }
    &__nav {
        display: flex;
    }
    &__list {
        margin-right: 10px;
        
        @media screen and (min-width: 1024px) {
            margin-right: 36px;
        }
    }
    &__link {
        display: block;
        padding: 10px 20px;
        color: $blackTxt;
        font-family: $Inter;
        font-size: 13px;
        text-decoration: none;

        &:hover {
            color: $graySub;
        }
        
        @media screen and (min-width: 1024px) {
            font-size: 16px;
        }
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 28px 5%;
    z-index: 3;

    @media screen and (min-width: 768px) {
        padding: 50px 4%;
    }

    &__ttl {
        &:hover {
            opacity: .8;
        }
    }

    &__logoLink {
        display: block;
    }
    
}
//メニューボタン
.menuBtn {
    padding: 10px;
    cursor: pointer;
}