// settingフォルダの変数を読み込みます

@use "../setting" as *;

//メニューボタンアイコン アニメーション
@keyframes toWhite {
    0% {
        stroke: $blackTxt;
    }
    100% {
        stroke: $grayTxt;
    }
}
@keyframes toBlack {
    0% {
        stroke: $grayTxt;
    }
    100% {
        stroke: $blackTxt;
    }
}

//元のアニメーション
@keyframes menuBtn {
    1% {
        stroke: $blackTxt;
    }
    50% {
        stroke: $blackTxt;
    }
    51% {
        stroke: $grayTxt;
    }
    100% {
        stroke: $grayTxt;
    }
}

//about section 年輪アイコン
@keyframes rotation {
    from {
        transform: rotate(0deg); transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg); transform: rotate(359deg);
    }
}

// @keyframes arrow {
//     0% {

//         transform: translateX(-30%);
//     }
    
//      100% {
//         transform: translateX(30%);
//     }
// }