//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;
#top {
    transition: .6s;
}

// mv装飾
.deco--top {
    position: absolute;
    top: 300px;
    right: 20px;
    width: 66px;
    height: 516px;
    background: rgb(163 182 197 / 30%);
    mix-blend-mode: multiply;
    z-index: 1;

    @media screen and (min-width: 768px) {
        top: 414px;
        right: 80px;
        height: 420px;
    }
    @media screen and (min-width: 1024px) {
        top: 0;
        width: 128px;
        height: 820px;
        right: 166px;
    }
}

.deco--middle {
    position: absolute;
    top: 452px;
    right: 120px;
    width: 66px;
    height: 268px;
    background: rgb(163 182 197 / 40%);
    mix-blend-mode: multiply;
    z-index: 1;


    @media screen and (min-width: 768px) {
        top: 624px;
        right: 180px;
    }
    @media screen and (min-width: 1024px) {
        top: 410px;
        right: 360px;
        width: 128px;
        height: 524px;
    }
}

.deco--bottom {
    position: absolute;
    top: 730px;
    right: 56px;
    width: 66px;
    height: 268px;
    background: rgba(109, 109, 109, 0.5);
    mix-blend-mode: multiply;
    z-index: 1;

    @media screen and (min-width: 768px) {
        top: 784px;
        right: 44px;
    }
    @media screen and (min-width: 1024px) {
        top: 722px;
        right: 92px;
        width: 128px;
        height: 524px;
    }
}

.mv {
    padding-top: 296px;
    margin: 0 0 76px 5%;

    @media screen and (min-width: 768px) {
        margin-left: 10%;
        margin-bottom: 165px;
        padding-top: 408px;
    }
    &__container {
        @media screen and (min-width: 1024px) {
            display: flex;
            margin-bottom: 60px;
        }
    }

    &__ttl {
        margin-bottom: 5px;
        font-family: $Inter;
        font-size: 30px;
        font-weight: 900;
        letter-spacing: 0.05em;

        @media screen and (min-width: 768px) {
            margin-bottom: 8px;
            font-size: 44px;
        }
        @media screen and (min-width: 1174px) {
            margin-bottom: 12px;
            font-size: 50px;
        }
    }

    &__sub {
        margin-bottom: 36px;
        font-family: $Inter;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.04em;

        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 0;
            font-size: 16px;
        }
    }

    &__txt {
        margin-bottom: 90px;
        font-family: $Inter;
        font-size: 10px;
        font-weight: 300;
        line-height: 1.5;

        @media screen and (min-width: 768px) {
            margin-bottom: 80px;
        }
        @media screen and (min-width: 1024px) {
            margin-left: 42px;
            margin-bottom: 0;
            font-size: 12px;
            line-height: 1.7;
            transform: translateY(6px);
        }
    }

    // mvスクロール
    &__wrap {
        width: 100%;
        height: 68vh;
        position: relative;
        overflow: hidden;

        @media screen and (min-width: 768px) {
            height: 23vh;
        }
        @media screen and (min-width: 1024px) {
            height: 58vh;
        }
    }
    
    &__bg {
        width: 79%;
        height: 100%;
        margin-left: auto;
        background: url(../images/mv.jpg) center center / cover;
        transition: .3s;

        @media screen and (min-width: 1024px) {
            width: 100%;
            height: 100%;
        }
    }
}

// aboutセクション---------------------------------
.about {
    @include secPaddingTop;
    position: relative;
    margin: 0 5% 68px 5%;

    @media screen and (min-width: 768px) {
        margin: 0 10%;
    }
    @media screen and (min-width: 1024px) {
        margin-bottom: 352px;
    }

    &__main {
        position: relative;

        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 160px;
        }
        @media screen and (min-width: 1024px) {
            display: block;
            margin-bottom: 148px;
        }
    }

    &__ttl {
        @include secTtl;
        margin-bottom: 36px;

        @media screen and (min-width: 768px) {
            position: absolute;
        }
    }

    &__sub {
        position: absolute;
        top: 66px;
        left: 10%;
        font-family: $Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5;

        @media screen and (min-width: 768px) {
            left: 0;
            line-height: 2.1;
        }
        @media screen and (min-width: 1039px) {
            font-size: 28px;
        }
        @media screen and (min-width: 1485px) {
            top: 180px;
            font-size: 40px;
        }
    }

    &__visual {
        width: 88%;
        max-width: 400px;
        aspect-ratio: 1/1.52;
        margin-bottom: 53px;
        margin-left: -5%;
        background: url(../images/about.jpg) center center / cover;
        object-fit: cover;

        @media screen and (min-width: 768px) {
            width: 23vw;
            aspect-ratio: 2/3.3;
            margin-left: 55%;
        }
        @media screen and (min-width: 1024px) {
            position: absolute;
            width: 18vw;
            aspect-ratio: 1/1.67;
            margin-left: 11%;
            z-index: -1;
        }
    }

    &__pileIcon {
        position: absolute;
        bottom: 44%;
        right: 5%;
        width: 12px;

        @media screen and (min-width: 768px) {
            bottom: 21%;
            right: auto;
        }
        @media screen and (min-width: 1024px) {
            bottom: -350px;
        }
    }

    &__desc {
        margin-bottom: 148px;

        @media screen and (min-width: 768px) {
            width: 37%;
            margin-bottom: 0;
        }
        @media screen and (min-width: 1024px) {
            width: 50%;
            margin-left: auto;
        }
    }

    &__unit {
        @media screen and (min-width: 1024px) {
            display: flex;
            align-items: flex-end;
            gap: 10%;
            margin-bottom: 72px;
        }
    }

    &__message {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 500;
        line-height: 2;

        @media screen and (min-width: 768px) {
            line-height: 2.3;
        }
        @media screen and (min-width: 1024px) {
            flex: none;
            margin-bottom: -9px;
            font-size: 18px;
        }
    }

    &__lead {
        width: 48%;
        max-width: 210px;
        margin-bottom: 38px;
        font-family: $Inter;
        font-size: 10px;
        font-weight: 400;
        line-height: 1.5;

        @media screen and (min-width: 768px) {
            width: 90%;
            margin-bottom: 30px;
        }
        @media screen and (min-width: 1024px) {
            width: 36%;
            max-width: 183px;
            margin-bottom: 0;
            font-size: 13px;
            line-height: 1.7;
        }
    }

    &__txt {
        font-size: 12px;
        font-weight: 300;
        line-height: 2;

        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
        @media screen and (min-width: 1024px) {
            font-size: 15px;
        }
    }

    &__margin {
        margin-bottom: 24px;

        @media screen and (min-width: 768px) {
            margin-bottom: 30px;
        }
        @media screen and (min-width: 1024px) {
            margin: 0;
        }

    }

    //自己紹介
    &__bottom {
        @media screen and (min-width: 768px) {
            position: static;
            width: 63%;
            margin: auto;
        }
        @media screen and (min-width: 1024px) {
            width: 50%;
            margin: 0;
            margin-left: auto;
        }
    }

    &__group {
        display: flex;
        gap: 13px;
        margin-bottom: 16px;

        @media screen and (min-width: 768px) {
            margin-bottom: 68px;
        }
        @media screen and (min-width: 1024px) {
            gap: 56px;
        }
    }

    &__self {
        font-family: $Inter;
        font-size: 12px;
        font-weight: 500;

        @media screen and (min-width: 768px) {
            font-size: 18px;
        }
    }

    &__name {
        font-family: $Inter;
        font-size: 9px;
        font-weight: 300;
        letter-spacing: .1em;

        @media screen and (min-width: 768px) {
            position: absolute;
            bottom: 0;
            left: -10%;
            font-size: 10px;
            line-height: 1.4;
            letter-spacing: .2em;
            transform: rotate(90deg) translateX(-50%);
        }
        @media screen and (min-width: 1024px) {
            position: static;
            font-size: 13px;
            transform: none;
        }
    }

    &__history {
        margin-bottom: 36px;
        font-size: 12px;
        font-weight: 300;
        line-height: 2;

        @media screen and (min-width: 768px) {
            display: inline;
            margin-bottom: 0;
            font-size: 14px;
        }
    }

    &__none {
        display: none;

        @media screen and (min-width: 768px) {
            display: inline;
        }
    }

    // 年輪アイコンアニメーション
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        margin-left: auto;
        margin-right: 5%;

        @media screen and (min-width: 768px) {
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 0;
        }
        @media screen and (min-width: 1024px) {
            bottom: -88px;
        }
    }

    &__iconTree {
        position: absolute;
    }

    &__iconTxt {
        position: absolute;
        animation: rotation 10s infinite linear;
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
    }

    // ↑年輪アイコン-----------------------------
}

// worksセクション---------------------------------
// works(coding area)
.works {
    @include secPaddingTop;
    margin-bottom: -20px;

    @media screen and (min-width: 768px) {
        margin-bottom: 60px;
    }
    @media screen and (min-width: 1024px) {
        margin-bottom: 168px;
    }

    &__heading {
        margin: 0 5%;
        margin-bottom: 54px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 10%;
            margin-bottom: 128px;
        }
    }

    &__ttl {
        @include secTtl;

        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    }

    &__menu {
        display: flex;
        transition: .3s;
    }

    &__link {
        display: block;
        padding: 4px 10px;
        color: $blackTxt;
        font-family: $Inter;
        font-size: 10px;
        border: 1px solid $grayTxt;
        text-decoration: none;
        transition: .3s;

        @media screen and (min-width: 768px) {
            font-size: 11px;
        }
        @media screen and (min-width: 1024px) {
            font-size: 14px;
        }
    }

}

//swiper------------------------------------
.swiper {
    &__container {
        position: relative;
    }

    &-works {
        width: 100%;
        padding: 0 5%;
        margin-bottom: 200px;

        @media screen and (min-width: 768px) {
            padding: 0 10%;
        }

        &__wrapper {
            margin-bottom: 100px;
        }

        &__pic {
            margin-bottom: 26px;
            cursor: pointer;

            &:hover {
                opacity: .8;
            }
        }

        &__img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__ttl {
            position: relative;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 24px;
            cursor: pointer;

            &:hover {
                opacity: .7;
            }

            @media screen and (min-width: 768px) {
                font-size: 16px;
            }

            &::after {
                position: absolute;
                top: 0;
                right: 0;
                content: "→";
                color: $graySub;
                transform: rotate(-45deg);
            }
        }

        &__txt {
            margin-bottom: 10px;
            font-size: 10px;
            color: $graySub;

            @media screen and (min-width: 768px) {
                margin-bottom: 12px;
                font-size: 14px;
            }
        }

        // ナビゲーションボタン  -----------------------------
        &__prev,
        &__next {

            @media screen and (min-width: 1024px) {
                width: 60px;
                padding: 0 10px;
            }

            &:hover {
                .swiper-works__prevArrowTip,
                .swiper-works__prevArrowLine,
                .swiper-works__nextArrowTip,
                .swiper-works__nextArrowLine {
                    background: $grayTxt;
                }
            }

            // デフォルトのナビゲーション解除
            &:after {
                content: "";
            }
        }

        // prevボタン
        &__prevArrowTip {
            position: relative;
            top: -2px;
            left: 6px;
            width: 14px;
            height: 2px;
            background: $blackTxt;
            transform: rotate(-45deg);
            transition: .3s;

            @media screen and (min-width: 1024px) {
                top: -3px;
                left: 9px;
            }
        }
        
        &__prevArrowLine {
            width: 40px;
            height: 2px;
            background: $blackTxt;
            transition: .3s;
        }

        // nextボタン
        &__nextArrowTip {
            position: relative;
            top: -2px;
            left: 20px;
            width: 14px;
            height: 2px;
            background: $blackTxt;
            transform: rotate(45deg);
            transition: .3s;
            
            @media screen and (min-width: 1024px) {
                top: -4px;
                left: 30px;
            }
        }

        &__nextArrowLine {
            width: 40px;
            height: 2px;
            background: $blackTxt;
            transition: .3s;
        }
        // ↑ナビゲーションボタンここまで  -------------------------
    }

    // ページネーション
    &-pagination-bullet {
        background: $blackTxt;
        height: 1px;
        width: 32px;
        border-radius: 22%;
    }

    &-pagination-bullet,
    &-pagination-bullet-active {
        margin: 0 5px;
    }
}
// ↑swiper ---------------------------------

// works(coding) modal 中身  -----------------
.modal {
    &__container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: hsla(0, 0%, 10%, 0.9);
        color: $grayTxt;
        opacity: 0;
        z-index: -1;
        transition: .5s;
        //Tb,SPで背景固定と中身スクロール
        overflow-y: scroll;
        overscroll-behavior: none;

        &::-webkit-scrollbar {
            width: 0px;
        }
    }

    &__wrap {
        padding: 104px 5%;

        @media screen and (min-width: 1024px) {
            padding: 104px 9%;
        }
    }

    &__closeBtn {
        position: absolute;
        top: 36px;
        right: 20px;
        padding: 8px;
        color: $grayTxt;
        font-family: $Inter;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;

        @media screen and (min-width: 768px) {
            top: 56px;
            right: 56px;
        }

        &:hover {
            color: #676767;
        }

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            display: block;
            background: $grayTxt;
            width: 100%;
            height: 1px;
        }

        &:hover::after {
            background: #676767;
        }
    }

    &__pic {
        margin-bottom: 72px;
        width: 100%;

        @media screen and (min-width: 1024px) {
            width: 60%;
            margin: 0 auto 72px;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__box {
        font-size: 12px;
        line-height: 2;

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }
        @media screen and (min-width: 1024px) {
            width: 100%;
        }
    }

    &__ttl {
        margin-bottom: 14px;
        font-size: 14px;
        font-weight: 700;
        line-height: 1;

        @media screen and (min-width: 768px) {
            font-size: 24px;
        }
    }

    &__sub {
        margin-bottom: 42px;
        font-size: 10px;
        font-weight: 300;
        line-height: 1;

        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
    }

    &__kind {
        margin-bottom: 28px;
    }

    &__list {
        display: flex;
    }

    &__detail {
        margin-bottom: 60px;

        @media screen and (min-width: 768px) {
            margin-bottom: 80px;
        }
    }

    &__tool {
        min-width: 72px;
    }

    &__desc {
        margin-bottom: 46px;

        > .modal__txt {
            margin-bottom: 36px;
        
            @media screen and (min-width: 768px) {
                margin-bottom: 42px;
            }

            &:last-child {
                margin-bottom: 56px;
            
                @media screen and (min-width: 768px) {
                    margin-bottom: 84px;
                }
            }
        }
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        color: $grayTxt;
        font-family: $Inter;
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;

        @media screen and (min-width: 768px) {
            padding: 20px 0 0;
            font-size: 18px;
        }

        &::before {
            position: absolute;
            top: -14px;
            left: 0;
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background: $grayTxt;
            pointer-events: none;
        }

        &::after {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            background: url(../images/exlink_icon.svg) center center / cover;

            @media screen and (min-width: 768px) {
                width: 20px;
                height: 20px;
            }
        }
    }
}
// ↑ works(coding) modal 中身  ----------------

// WORKS(design area)
.works {
    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 5%;

        @media screen and (min-width: 768px) {
            margin: 0 10%;
        }
    }

    &__box {
        width: 45%;
        margin-bottom: 100px;

        @media screen and (min-width: 768px) {
            width: 39%;
        }

        @media screen and (min-width: 1024px) {
            width: 20%;
        }
    }

    &__pic {
        width: 100%;
        padding-bottom: 24px;
        cursor: pointer;
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__caption {
        position: relative;
        padding-bottom: 24px;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            content: "→";
            color: $graySub;
            transform: rotate(-45deg);
        }
    }

    &__txt {
        color: $graySub;
        font-size: 10px;
        font-weight: 400;
        line-height: 2;

        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
    }
}

// works design modal 中身  -----------------
.modalD {
    &__container01,
    &__container02,
    &__container03 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: hsla(0, 0%, 10%, 0.9);
        color: $grayTxt;
        opacity: 0;
        z-index: -1;
        transition: .5s;
        overflow-y: scroll;
        overscroll-behavior: none;

        &::-webkit-scrollbar {
            width: 0px;
        }
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
        padding: 124px 5%;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-around;
            height: 100%;
        }
    }

    &__closeBtn {
        position: absolute;
        top: 36px;
        right: 20px;
        padding: 8px;
        color: $grayTxt;
        font-family: $Inter;
        font-size: 14px;
        font-weight: 600;

        @media screen and (min-width: 768px) {
            top: 56px;
            right: 56px;
        }

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            display: block;
            background: $grayTxt;
            width: 100%;
            height: 1px;
        }
    }

    &__pic {
        margin-bottom: 108px;

        @media screen and (min-width: 1024px) {
            margin-bottom: 0;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__box {
        font-size: 12px;
        line-height: 2;

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }
        @media screen and (min-width: 1024px) {
            width: 50%;
        }
    }

    &__ttl {
        margin-bottom: 14px;
        font-size: 14px;
        font-weight: 700;
        line-height: 1;

        @media screen and (min-width: 768px) {
            font-size: 24px;
        }
    }

    &__sub {
        margin-bottom: 42px;
        font-size: 10px;
        font-weight: 300;
        line-height: 1;

        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
    }

    &__list {
        display: flex;
    }

    &__detail {
        margin-bottom: 60px;

        @media screen and (min-width: 768px) {
            margin-bottom: 80px;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 60px;

        }
    }

    &__desc {

        > .modalD__txt {
            margin-bottom: 36px;
        
            @media screen and (min-width: 768px) {
                margin-bottom: 42px;
            }
            @media screen and (min-width: 1024px) {
                margin-bottom: 24px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// ↑ works design modal 中身  ----------------

// skillsセクション------------------------------------------
.skills {
    margin: 0 5% 96px 5%;
    padding-top: 88px;

    @media screen and (min-width: 768px) {
        margin: 0 10%;
        padding-top: 140px;
    }

    @media screen and (min-width: 1024px) {
        margin: 0;
    }

    &__ttl {
        @include secTtl;
        margin-bottom: 56px;

        @media screen and (min-width: 768px) {
            margin-bottom: 108px;
        }
        @media screen and (min-width: 1024px) {
            margin-left: 10%;
        }
    }

    &__category {
        margin-bottom: 14px;
        font-family: $Inter;
        font-size: 24px;
        font-weight: 700;

        @media screen and (min-width: 768px) {
            font-size: 34px;
        }

        @media screen and (min-width: 1024px) {
            margin-left: 10%;
        }
    }

    &__sub {
        margin-bottom: 48px;
        font-family: $Inter;
        font-size: 10px;
        font-weight: 400;

        @media screen and (min-width: 768px) {
            margin-bottom: 128px;
            font-size: 12px;
        }

        @media screen and (min-width: 1024px) {
            margin-left: 10%;
        }
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 60px;

        @media screen and (min-width: 768px) {
            margin-bottom: 144px;
        }

        @media screen and (min-width: 1024px) {
            flex-wrap: nowrap;
        }
    }

    &__box {
        width: 46%;
        margin-bottom: 48px;

        @media screen and (min-width: 768px) {
            width: 43%;
            margin-bottom: 80px;
        }

        @media screen and (min-width: 1024px) {
            width: 21.5%;
            height: 100%;
            padding: 0 3% 0 3%;
            &:nth-child(1) {
                width: 28.5%;
                padding-left: 10%;
                padding-right: 3%;
            }
            &:nth-child(4) {
                width: 28.5%;
                padding-right: 10%;
                padding-left: 3%;
            }
        }
    }

    &__unit {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    &__square {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        font-family: $Inter;
        font-size: 18px;
        font-weight: 700;
        border: 1px solid $blackTxt;

        @media screen and (min-width: 768px) {
            width: 80px;
            height: 80px;
            font-size: 40px;
        }
    }

    &__icon {
        @media screen and (min-width: 768px) {
            transition: .2s;
        }
    }

    &__shadow--dark {
        position: absolute;
        top: calc(47% - 20px);
        left: calc(44% - 20px);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        color: #888888e0;
        transition: transform .3s linear 0s;
        z-index: -1;
    }

    &__shadow--light {
        position: absolute;
        top: calc(42% - 20px);
        left: calc(38% - 20px);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        color: rgba(203, 203, 203, 0.38);
        transition: transform .6s linear .008s;
        z-index: -2;
    }

    &__skill {
        margin-left: 14px;
        font-family: $Inter;
        font-size: 16px;
        font-weight: 700;

        @media screen and (min-width: 768px) {
            font-size: 20px;
        }
    }

    &__desc {
        font-size: 12px;
        font-weight: 300;
        line-height: 2;

        @media screen and (min-width: 768px) {
            font-size: 14px;
        }

        @media screen and (min-width: 1024px) {
            font-size: 16px;
        }

        &-width {
            @media screen and (min-width: 1024px) {
                max-width: 400px;
            }
        }
    }
}

// contactセクション------------------------------------------

.contact {
    padding: 200px 5% 116px 5%;
    color: $grayTxt;

    @media screen and (min-width: 768px) {
        padding-top: 290px;
        padding-right: 10%;
        padding-left: 10%;
        padding-bottom: 136px;
    }

    @media screen and (min-width: 1024px) {
        padding-top: 336px;
        padding-bottom: 400px;
    }

    &__ttl {
        @include secTtl;
        margin-bottom: 72px;

        @media screen and (min-width: 768px) {
            margin-bottom: 104px;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__bg {
        display: none;
        background: url(../images/contact.jpg) center center / cover;

        @media screen and (min-width: 768px) {
            display: block;
            width: 26%;
        }
        @media screen and (min-width: 1024px) {
            width: 32%;
        }
    }
}

//  フォーム  --------------------
.form {
    position: relative;
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 59%;
    }

    @media screen and (min-width: 1024px) {
        width: 50%;
    }

    &__box {
        margin-bottom: 20px;

        &:nth-child(3) {
            margin-bottom: 32px;
        }

        &:nth-child(4) {
            margin-bottom: 0;
        }
    }

    &__label {
        display: block;
        padding: 10px 0;
        font-weight: 300;

        &::after {
            content: '*';
            color: rgb(255, 0, 0);
        }

        @media screen and (min-width: 1024px) {
            font-size: 16px;
        }
    }

    &__input {
        width: 100%;
        padding: 10px;
        background: $footerBg;
        color: $grayTxt;
        font-size: 14px;
        border: none;
        border-bottom: 1px solid $grayTxt;

        @media screen and (min-width: 1024px) {
            font-size: 16px;
        }
    }

    &__textarea {
        width: 100%;
        height: 80px;
        padding: 10px;
        background: $footerBg;
        color: $grayTxt;
        font-size: 14px;
        border: none;
        border-bottom: 1px solid $grayTxt;

        @media screen and (min-width: 1024px) {
            height: 100px;
            font-size: 16px;
        }
    }

    &__submitBox {
        display: flex;
        align-items: center;
        font-family: $Inter;
        cursor: pointer;

        &:hover {
            .form__submit {
                color: $graySub;
            }
        }

        &::before {
            position: absolute;
            right: 0;
            bottom: 0;
            content: "";
            width: 114px;
            height: 1px;
            background: $grayTxt;
            transform: scale(0, 1);
            transform-origin: left top;
            transition: .3s;

            @media screen and (min-width: 1024px) {
                width: 122px;
            }
        }

        &:hover::before {
            transform: scale(1, 1);
        }

        &::after {
            position: absolute;
            right: 0;
            content: "→";
            color: $grayTxt;
            font-size: 20px;
            font-weight: 700;
        }

        &:hover::after {
            color: $graySub;
        }
    }

    &__submit {
        text-align: right;
        width: 100%;
        padding: 10px 60px;
        background: $footerBg;
        color: $grayTxt;
        font-size: 14px;
        font-weight: 700;
        border: none;
        -webkit-appearance: none;
        cursor: pointer;

        @media screen and (min-width: 1024px) {
            font-size: 16px;
        }
    }
}
//  ↑フォーム  --------------------