//色に関する変数を登録します

// テキスト用
$blackTxt: #2f2f2f;
$grayTxt: #cbcbcb;
$graySub: #888;
$grayHoverBefore: #6c6c6c;
$grayHoverAfter: #9b9b9b;
// アイコンシャドウ用
$grayShadow: #cdcdcd;
// 背景用
$grayBg: #f0f2f2;
$blackBg: #1f1f1f;
$footerBg: #2d2d2d;

